<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.amier.modernloginregister">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Lost&amp;Found"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.amier.Activities.activities.SplashScreen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.amier.Activities.activities.Contribution"
            android:exported="false" />
        <activity
            android:name="com.amier.Activities.activities.AssociationDonation"
            android:exported="false" />
        <activity
            android:name="com.amier.Activities.mapbos"
            android:exported="false" />
        <activity
            android:name="com.amier.Activities.activities.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name="com.amier.Activities.activities.resetActivity"
            android:exported="false" />
        <activity
            android:name="com.amier.Activities.activities.ChannelActivity"
            android:exported="false" />
        <activity
            android:name="com.amier.Activities.activities.voirReponse"
            android:exported="false" />
        <activity
            android:name="com.amier.Activities.activities.UpdateActivity"
            android:exported="false" />
        <activity
            android:name="com.amier.Activities.activities.voirArticle"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.amier.Activities.activities.selectTypeArticle"
            android:exported="false" />
        <activity
            android:name="com.amier.Activities.activities.AjouterArticle"
            android:exported="false" />
        <activity
            android:name="com.amier.Activities.activities.DetailUserArticle"
            android:exported="false" />
        <activity
            android:name="com.amier.Activities.activities.DetailArticle"
            android:exported="false" />
        <activity
            android:name="com.amier.Activities.activities.HomeActivity"
            android:exported="true" />
        <activity
            android:name="com.amier.Activities.activities.RegisterActivity"
            android:exported="true" />
        <activity
            android:name="com.amier.Activities.activities.LoginActivity"
            android:exported="true" />

        <service
            android:name="com.amier.Activities.api.MyFRireBaseMessagingServicee"
            android:exported="false"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="1:997711106712:android:2b1e9ae3e6215f43fa36ed" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="true" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
    </application>

</manifest>